:root {
	--pine-theme: #00ff0f;
	--pine-bground: #0e0e0e;
	--pine-lightbg: #212528;
	
	--pine-fground: #fffffd;
	--pine-darkfg: #acacac;
}


#frame-body {
	color: var(--pine-fground);
	background-color: var(--pine-bground);
}
